* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

article {
    padding: 1.25rem;
    width: 100%;
    height: auto;
}

article h1 {
    font-family: 'Rubik Dirt', cursive;
}

article p {
    font-family: Figtree, sans-serif;
    margin-top: .25rem;
}

/* Mobile first - Geen Media Query voor de kleinste waardes !!! */

#article1 {
    display: none;
    background-color: #00811A;
}

#article2 {
    background-color: #0D9D2A;
}

#article3 {
    background-color: #24C024;
}

#article4 {
    background-color: #39D959;
}

#article5 {
    background-color: #00811A;
}

@media screen and (min-width: 50rem) {
    #article1 {
        display: block;
    }
}

@media screen and (min-width: 75rem) {
    #article5 {
        display: none;
    }
}


